<div class="container">
  <div class="col-md-8 offset-md-2">
    <div class="card mt-5">
      <h1 class="card-header">New Employee</h1>
      <div class="card-body">

        <%= render 'form', employee: @employee %>

        <%= link_to 'Back', employees_path %>
      </div>
    </div>
  </div>
</div>
