<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-5">
      <h1 class="card-header">Editing Relative</h1>
      <div class="card-body">
        <%= render 'form', relative: @relative %>
        <%= link_to 'Show', admin_relatives_path{@relative} %> |
        <%= link_to 'Back', admin_relatives_path %>
      </div>
    </div>
  </div>
</div>
